body {
    background-color: blue;
}

.navbar {
    background-color: black;
}

#welcome {
    text-align: center;
    padding: 40px 0;
}

#sep-line {
    background-color: rgba(71, 17, 17, 0.5);
    width: 80%;
    height: 10px;
    margin: 10px auto;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 15px 0;
}


